@font-face {
    font-family: Oxanium-Bold;
    src: url(fonts/Oxanium-Bold.ttf);
}


@font-face {
    font-family: Oxanium-ExtraBold;
    src: url(fonts/Oxanium-ExtraBold.ttf);
}

@font-face {
    font-family: Oxanium-ExtraLight;
    src: url(fonts/Oxanium-ExtraLight.ttf);
}

@font-face {
    font-family: Oxanium-Light;
    src: url(fonts/Oxanium-Light.ttf);
}


@font-face {
    font-family: Oxanium-Medium;
    src: url(fonts/Oxanium-Medium.ttf);
}


@font-face {
    font-family: Oxanium-Regular;
    src: url(fonts/Oxanium-Regular.ttf);
}

@font-face {
    font-family: Oxanium-SemiBold;
    src: url(fonts/Oxanium-SemiBold.ttf);
}




html {
    height: 100%;
}


body {
    background-color: #2F3035;
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 1024px; 
    margin-left: auto;
    margin-right: auto;
}

header {
    /* background-color: blue; */
    height: 118px;
    text-align: center;   
}

nav {
    background-color: rgba(0, 0, 0, 0.30);
    /* height: 40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    /* background-color: orange; */
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    font-family: Oxanium-Regular;
}

footer {
    background-color: rgba(0, 0, 0, 0.30);
    /* height: 100px; */
    padding-top: 20px;
    padding-bottom: 20px;    
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Oxanium-SemiBold;
}

p {
    font-size: 18px;
    color: white;
    font-family: Oxanium-Regular;
}

a {
    color: white;
    font-family: Oxanium-Regular;
    /* text-decoration: none; */
}

nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    font-family: Oxanium-Regular;
    font-size: 12px;
    text-align: center;
}

section {
    text-align: center;
    padding-bottom: 100px
}